# Documentation static site generator & deployment tool
mkdocs==1.5.3

# Extensions
pymdown-extensions==10.3.1
mkdocs-git-revision-date-localized-plugin==1.2.1
neoteroi-mkdocs==1.1.0

# Theme
mkdocs-material==9.5.9

# Add your custom theme if not inside a theme_dir
# (https://github.com/mkdocs/mkdocs/wiki/MkDocs-Themes)
#  mkdocs-material>=5.4.0