@font-face {
    font-family: 'FK Grotesk';
    src: url('/fonts/FKGrotesk-Regular.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

body {
    font-family: 'FK Grotesk';
    color: #000;
    font-weight: 300;
}
sup {
    font-size: 10px;
}

footer {
    color: #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem auto;
}

.footer-column {
    padding: 10px;
}

footer .footer-logo .citcom-logo {
    width: 5rem;
    filter: invert(100%);
}

footer .footer-logo .vrain-logo {
    width: 5rem;
    margin-left: 1rem;
}

footer .footer-tagline img {
    width: 8rem;
}

footer .footer-tagline p {
    font-size: 0.4rem;
    margin: 0;
    padding: 0;
}