:root {
    --md-primary-fg-color: black;
    /* --md-primary-fg-color-alternative: #279989;
    --md-primary-fg-color-alternative-hover: #008F77; */
    --md-primary-fg-color-alternative: #0096AE;
    --md-primary-fg-color-alternative-hover: #00869b;
    --a-color: #4051b5 !important;
}

.md-typeset .md-button--primary {
    background-color: var(--md-primary-fg-color-alternative);
    border-color: var(--md-primary-fg-color-alternative);
    color: var(--md-primary-bg-color);
}

.tx-hero .md-button:focus,
.tx-hero .md-button:hover {
    background-color: var(--md-primary-fg-color-alternative-hover) !important;
    border-color: var(--md-primary-fg-color-alternative-hover) !important;
}

.md-typeset .md-button:focus,
.md-typeset .md-button:hover {
    background-color: var(--md-primary-fg-color-alternative-hover) !important;
    border-color: var(--md-primary-fg-color-alternative-hover) !important;
}

.md-typeset a:focus,
.md-typeset a {
    color: var(--a-color);
}

.md-nav__item .md-nav__link--active,
.md-nav__item .md-nav__link--active code {
    color: var(--a-color);
}

.md-nav__link svg {
    /* Fix for  rendering SVGs in Safari */
    transform: translate(0, 0);
}

.md-main {
    flex-grow: 1 !important;
}

footer {
    color: #fff;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-column {
    padding: 10px;
}

footer .footer-logo .citcom-logo {
    width: 5rem;
    filter: invert(100%);
}

footer .footer-logo .vrain-logo {
    width: 5rem;
    margin-left: 1rem;
}

footer .footer-tagline img {
    width: 6rem;
}

footer .footer-tagline p {
    font-size: 0.4rem;
    margin: 0;
    padding: 0;
}